<h1>Cart#checkout</h1>
<p>Find me in app/views/cart/checkout.html.erb</p>

<h1>Thanks for shopping with us!</h1>
<p>Let's review your order:</p>

<% @order.order_item.each do |product_id, quantity| %>
<!--key, value changed to product_id, quantity -->
	<ul>
		<li><%= Product.find(product_id).name %> : <%= quantity %></li>
	</ul>
<% end %>

<p>
	<strong>Order Total:</strong> <%= number_to_currency @order.grand_total %>
</p>